NODE_ENV=development
PORT=4000

PGHOST=localhost
PGPORT=5432
PGUSER=admin
PGPASSWORD=password123
PGDATABASE=facturacion_core
PG_POOL_MAX=10
PG_IDLE_TIMEOUT_MS=30000

CORS_ORIGIN=http://localhost:3000
